<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="waldo.bike.bikeshops"
    >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- Permissions required by the sync adapter -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />

    <permission android:protectionLevel="signature"
        android:name="waldo.bike.bikeshops.com.parse.starter.permission.C2D_MESSAGE" />
    <uses-permission android:name="waldo.bike.bikeshops.com.parse.starter.permission.C2D_MESSAGE" />
    <application
        android:name=".BikeShopsDetector"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/SecondaryActivityTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="waldo.bike.bikeshops.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="waldo.bike.bikeshops.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:theme="@style/MainActivityTheme" >
        </activity>
        <activity
            android:name="waldo.bike.form.AddShopFormActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_add_shop_form"
            android:parentActivityName="waldo.bike.form.AddShopMap" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="waldo.bike.form.AddShopMap" />
             >
        </activity>
        <activity
            android:name="waldo.bike.bikeshops.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="waldo.bike.bikeshops.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="waldo.bike.bikeshops.MainActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/gmaps_api_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_appId" />

        <activity
            android:name="waldo.bike.bikeshops.MapsActivity"
            android:label="@string/title_activity_maps" >
        </activity>

        <provider
            android:name="data.ShopsProvider"
            android:authorities="@string/content_authority"
            android:enabled="true"
            android:exported="false"
            android:syncable="true" />
        <!-- SyncAdapter's dummy authentication service -->
        <service android:name="sync.WaldoAuthenticatorService" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- The SyncAdapter service -->
        <service
            android:name="sync.WaldoSyncService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <activity
            android:name="waldo.bike.form.AddShopMap"
            android:label="@string/title_activity_add_shop_map"
            android:parentActivityName="waldo.bike.bikeshops.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="waldo.bike.bikeshops.MainActivity" />
        </activity>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="3599dce40899e3fa9ad2896a46b28d2d17edd499" />

        <activity
            android:name="waldo.bike.bikeshops.ShopDetailActivity"
            android:parentActivityName="waldo.bike.bikeshops.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="waldo.bike.bikeshops.MainActivity" />
        </activity>
        <activity
            android:name="waldo.bike.bikeshops.ShopStreetViewActivity"
            android:label="@string/title_activity_shop_street_view"
            android:parentActivityName="waldo.bike.bikeshops.ShopDetailActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="waldo.bike.bikeshops.ShopDetailActivity" />
        </activity>
        <activity
            android:name="waldo.bike.bikeshops.WebActivity"
            android:label="@string/title_activity_web"
            android:parentActivityName="waldo.bike.bikeshops.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="waldo.bike.bikeshops.MainActivity" />
        </activity>

        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="waldo.bike.bikeshops" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
